* {
    align-items: center;
    margin:auto;
    text-align: center;
}
body{
    background-image: url("/images/roomBackground.jpg");
    background-size: 100vw 100vh;
}
#status{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    border: 1px solid;
    font-size: 12px;
}
#username{
    display: inline-block;
}
#chat_room{
    width:250px;
    height: 250px;
    border: 2px solid;
    bottom: 0;
    right: 0;
    position: fixed;
    overflow: auto;
    background-color: white;
}
#reply_div{
}
#chat_status{
    position:relative;
    bottom:0;
    left:0;
    font-weight: bold;
}
#sendBox{
    position: absolute;
    bottom: 0;
    right: 1vw;
}
#chat_room{
    display: none;
    padding: 1%;
}
#chatroomBtn{
    display: inline-block;
}
#replies{
    padding: 2px;
    background-color: rgba(180, 255, 173,0.8);
    margin-bottom: 4px;
    border: 2px solid;
    width: 60vw;
    text-align: right;
}
#upvote{
    height:20px;
}
#reply{
    text-align: left;
}
#reply_msg{
    font-weight: bold;
    text-align: left;
    font-size: 13px;
}
#reply_time{
    text-align: right;
    font-size: 10px;
    color: gray;
}
#topic_box{
    border: 2px solid;
    background-color: white;
    margin-top: 2%;
    width: 40%;
    margin-bottom: 2%;
}
#msg_div{
    text-align: left;
}